<p id="notice"><%= notice %></p>

<h1>Commuters</h1>

<table>
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @commuters.each do |commuter| %>
      <tr>
        <td><%= link_to 'Show', commuter %></td>
        <td><%= link_to 'Edit', edit_commuter_path(commuter) %></td>
        <td><%= link_to 'Destroy', commuter, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Commuter', new_commuter_path %>
